<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Bancs">
<listeners>
	
	<listener class-name="TestListener"/>

</listeners>
 
<test name="CitiGlobal">
    <classes>
      <class name="test.Firstclass">
      
      
      </class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
